<%= form_for @flight, :class => "form-horizontal" do |f| %>
<fieldset class="form-group">
  <%= f.label :flight_number %>
  <%= f.text_field :flight_number, :class => "form-control"  %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :origin %>
  <%=  f.text_field :origin, :class => "form-control" %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :destination %>
  <%= f.text_field :destination, :class => "form-control"  %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :date %>
  <%= f.text_field :date, :class => "form-control"  %>
</fieldset>

<fieldset>
  <label></label>
  <%= f.submit %>
</fieldset>

<% end %>
