<p id="notice"><%= notice %></p>

<h1>Flights Information</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><b> ORIGIN </b></td><td><b> DESTINATION </b></td><td> <b>FLIGHT NO </b></td>
    </tr>
    <li ></li>

    <% @flights.each do |flight| %>
      <tr>
     <td><%= flight.origin %></td><td><%= flight.destination %></td><td><%= flight.flight_number %></td><td><%= link_to 'SHOW',flight %></td><td> <%= link_to 'EDIT', edit_flight_path(flight) %></td><td><%= link_to 'Destroy', flight, method: :delete, data:{comfirm:'Are you sure?'} %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_flight_path %>
