

<%= form_for @reservation, :class => "form-horizontal" do |f| %>
<fieldset class="form-group">
  <%= f.label :user_id, :as => "User ID"%>
  <%= f.text_field :user_id, :class => "form-control"  %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :flight_id, :as =>'Flight ID' %>
  <%= f.text_field :flight_id, :class => "form-control"  %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :seat_row_col %>
  <%= f.text_field :seat_row_col, :class => "form-control"  %>
</fieldset>

  <label></label>
  <%= f.submit %>
</fieldset>

<% end %>
