<!DOCTYPE html>
<html>
  <head>
    <title>BurningServer</title>
    <%= link_to 'Airplanes', 'airplanes#index' %>     <%= link_to 'Flights','flights#index' %>     <%= link_to 'User','users#index' %>     <%= link_to 'Reservations','reservations#index' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
